@use 'variables';

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15px; // altura da serrilha
        background: variables.$blue2;
        z-index: 5;

        clip-path: polygon(
            0 20px,
            5% 0,
            10% 20px,
            15% 0,
            20% 20px,
            25% 0,
            30% 20px,
            35% 0,
            40% 20px,
            45% 0,
            50% 20px,
            55% 0,
            60% 20px,
            65% 0,
            70% 20px,
            75% 0,
            80% 20px,
            85% 0,
            90% 20px,
            95% 0,
            100% 20px
        );
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 24px;

        &--highlight {
            font-family: 'Retrow Mentho';
            color: variables.$textColorSecondary;
            font-size: 54px;
        }

        &--main {
            font-family: 'Retrow Mentho';
            font-size: 80px;
        }
    }

    &__text {
        font-size: 24px;
        max-width: 500px;
        text-align: center;
    }

    @media (max-width: 640px) {
        &__title {
            &--highlight {
                font-size: 24px;
            }

            &--main {
                font-size: 32px;
            }
        }

        &__text {
            font-size: 16px;
            padding: 0 16px;
        }
    }

    @media (max-width: 1024px) {
        &__title {
            &--highlight {
                font-size: 48px;
            }

            &--main {
                font-size: 56px;
            }
        }

        &__text {
            font-size: 24px;
            max-width: 360px;
        }
    }
}

.arrow {
    position: relative;
    margin-top: 60px;
    width: 40px;
    height: 40px;

    background-image: url(../images/seta.png);
    background-size: contain;

    @media (max-width: 640px) {
        margin-top: 32px;
        width: 25px;
        height: 25px;
    }
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}