@use 'variables';

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 24px;

        &--highlight {
            font-family: 'Retrow Mentho';
            color: variables.$textColorSecondary;
            font-size: 54px;
        }

        &--main {
            font-family: 'Retrow Mentho';
            font-size: 80px;
        }
    }

    &__text {
        font-size: 24px;
        max-width: 500px;
        text-align: center;
    }

    @media (max-width: 640px) {
        &__title {
            &--highlight {
                font-size: 28px;
            }

            &--main {
                font-size: 36px;
            }
        }

        &__text {
            font-size: 16px;
            padding: 0 16px;
        }
    }

    @media (max-width: 1024px) {
        &__title {
            &--highlight {
                font-size: 40px;
            }

            &--main {
                font-size: 60px;
            }
        }

        &__text {
            font-size: 20px;
            max-width: 360px;
        }
    }
}