@use 'variables';
@use 'hero';
@use 'countdown';

@font-face {
    font-family: Retrow Mentho;
    src: url(../../assets/fonts/Retrow\ Mentho.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Retrow Mentho;
    src: url(../../assets/fonts/Retrow\ Mentho\ Italic.woff2);
    font-weight: 400;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: variables.$textColor;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}